.master {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #191616;
    color: #d0c4c4;
}

.timer {
    font-size: 168px;
}

.control {
    padding: 5px 35px;
}
