button:focus {
    outline: none;
}

.hidable {
    opacity: 1;
    transition: opacity 0.3s;
}

.hidable.active {
    opacity: 0;
}

.master {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "content";
    width: 100vw;
    height: 100vh;
    background-color: #191616;
    color: #d0c4c4;
    font-size: 26px;
}

.header {
    grid-area: header;
    background-color: #312c2c;
}

.header-content {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title > * {
    margin-right: 20px;
}

.header-title > *:last-child {
    margin-right: initial;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout {
    padding: 10px 25px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    user-select: none;
    text-align: center;
}

.workout:hover {
    background-color: #d0c4c4;
    color: #191616;
}

.workout:hover .control-transparent {
    color: #191616;
}

.timer {
    font-size: 168px;
}

.control {
    padding: 5px 35px;
}

.control-transparent {
    background: transparent;
    color: white;
    border: none;
    font-size: 1em;
    line-height: 1;
    padding: 0;
    cursor: pointer;
    transition: color 0.3s;
}

.control-navigate-back {
    width: 0;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
}

.control-navigate-back.active {
    width: 23px;
    opacity: 1;
}

.workout-form {
    display: flex;
    flex-direction: column;
}

.workout-form > * {
    margin-bottom: 15px;
}

.workout-form > *:last-child {
    margin-bottom: initial;
}

.workout-title {
    display: flex;
    flex-direction: column;
}

.workout-input {
    font-size: 100%;
    background-color: transparent;
    color: #d0c4c4;
    border: 1px solid #d0c4c4;
    border-radius: 3px;
    padding: 5px 10px;
}

.control-group {
    display: flex;
}

.control-group > * {
    margin-right: 15px;
}

.control-group > *:last-child {
    margin-right: initial;
}
